################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt-CPP/FileContentIndex/2e09bff3-cfff-445c-84cb-eeb4c757a4c8.vsidx
/.vs/Projekt-CPP/FileContentIndex/617eb9cf-d896-4b92-801f-cf2da8ed18a6.vsidx
/.vs/Projekt-CPP/FileContentIndex/c1c1e093-568f-4bd6-ae0e-53624e874689.vsidx
/.vs/Projekt-CPP/FileContentIndex/58c8284b-fd38-4b56-9b82-5d6919ac55a6.vsidx
/.vs/Projekt-CPP/FileContentIndex/ff438a9f-219c-4f47-843e-6a88fdac70c9.vsidx
/.vs/Projekt-CPP/v17/Browse.VC.opendb
/.vs/Projekt-CPP/FileContentIndex/20c834d2-1a28-4b32-abbb-4c28caad5528.vsidx
/.vs/Projekt-CPP/FileContentIndex/88950ba7-e020-4db5-9fae-9dde485d601f.vsidx
/.vs/Projekt-CPP/FileContentIndex/89539ad1-ae28-44e5-8629-af5e2ec2c8ca.vsidx
/.vs/Projekt-CPP/FileContentIndex/46eb67ab-44d0-4b47-8639-b7ef9dccd70f.vsidx
*.vsidx
*.bin
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.ipch
/.vs/Projekt-CPP/v17/.wsuo
/.vs/Projekt-CPP/v17/.wsuo
/.vs/Projekt-CPP/v17/Browse.VC.db
/.vs/Projekt-CPP/v17/Browse.VC.db-shm
/.vs/Projekt-CPP/v17/Browse.VC.db-wal
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/OpenGL/OpenGL.vcxproj
/OpenGL/OpenGL.vcxproj.filters
*.mtl
*.obj
/OpenGL/x64/Debug/camera.obj
/OpenGL/x64/Debug/ebo.obj
/OpenGL/x64/Debug/glad.obj
/OpenGL/x64/Debug/main.obj
/OpenGL/x64/Debug/mesh.obj
/OpenGL/x64/Debug/model.obj
/OpenGL/x64/Debug/OpenGL.Build.CppClean.log
/OpenGL/x64/Debug/OpenGL.ilk
/OpenGL/x64/Debug/OpenGL.log
/OpenGL/x64/Debug/OpenGL.tlog/CL.command.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/Cl.items.tlog
/OpenGL/x64/Debug/OpenGL.tlog/CL.read.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/CL.write.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link-cvtres.read.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link.command.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link.read.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link.read.2.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link.secondary.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link.write.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link-cvtres.write.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link-rc.read.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/link-rc.write.1.tlog
/OpenGL/x64/Debug/OpenGL.tlog/OpenGL.lastbuildstate
/OpenGL/x64/Debug/OpenGL.tlog/unsuccessfulbuild
/OpenGL/x64/Debug/shaders.obj
/OpenGL/x64/Debug/stb.obj
/OpenGL/x64/Debug/textures.obj
/OpenGL/x64/Debug/vao.obj
/OpenGL/x64/Debug/vbo.obj
/OpenGL/x64/Debug/vc143.idb
/OpenGL/x64/Debug/vc143.pdb
/OpenGL/x64/Release/board.obj
/OpenGL/x64/Release/camera.obj
/OpenGL/x64/Release/ebo.obj
/OpenGL/x64/Release/glad.obj
/OpenGL/x64/Release/import.obj
/OpenGL/x64/Release/main.obj
/OpenGL/x64/Release/mesh.obj
/OpenGL/x64/Release/model.obj
/OpenGL/x64/Release/object.obj
/OpenGL/x64/Release/OpenGL.Build.CppClean.log
/OpenGL/x64/Release/OpenGL.exe.recipe
/OpenGL/x64/Release/OpenGL.iobj
/OpenGL/x64/Release/OpenGL.ipdb
/OpenGL/x64/Release/OpenGL.log
/OpenGL/x64/Release/OpenGL.tlog/CL.command.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/Cl.items.tlog
/OpenGL/x64/Release/OpenGL.tlog/CL.read.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/CL.write.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/link.command.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/link.read.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/link.secondary.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/link.write.1.tlog
/OpenGL/x64/Release/OpenGL.tlog/OpenGL.lastbuildstate
/OpenGL/x64/Release/shaders.obj
/OpenGL/x64/Release/stb.obj
/OpenGL/x64/Release/textures.obj
/OpenGL/x64/Release/vao.obj
/OpenGL/x64/Release/vbo.obj
/OpenGL/x64/Release/vc143.pdb
/x64/Debug/OpenGL.exe
/x64/Debug/OpenGL.pdb
/x64/Release/OpenGL.exe
/x64/Release/OpenGL.pdb
*.wsuo
