################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt-CPP/FileContentIndex/2e09bff3-cfff-445c-84cb-eeb4c757a4c8.vsidx
/.vs/Projekt-CPP/FileContentIndex/617eb9cf-d896-4b92-801f-cf2da8ed18a6.vsidx
/.vs/Projekt-CPP/FileContentIndex/c1c1e093-568f-4bd6-ae0e-53624e874689.vsidx
/.vs/Projekt-CPP/FileContentIndex/58c8284b-fd38-4b56-9b82-5d6919ac55a6.vsidx
/.vs/Projekt-CPP/FileContentIndex/ff438a9f-219c-4f47-843e-6a88fdac70c9.vsidx
/.vs/Projekt-CPP/v17/Browse.VC.opendb
/.vs/Projekt-CPP/FileContentIndex/20c834d2-1a28-4b32-abbb-4c28caad5528.vsidx
